.HealthAnalysisReport {
	background: #lightblue;
	padding: 1em;
}

.Dead {
	background: #lightgray;
}

.HealthIndicatorList {
	padding: 1em;
}

.PositiveHealthIndicator {
	background: #lightgreen;
}

.NegativeHealthIndicator {
	background #lightred;
}
