html * {
        font-family: Arial;
}

div {
        border-radius: 15px;
}

.HealthAnalysisReport {
        background: #f2f7ff;
        padding: 1em;
}

.Dead {
        background: #f2f2f2;
}

.HealthIndicatorList {
        padding: .5em;
}

.HealthIndicatorSummary {
        padding: .5em;
}

.PositiveHealthIndicator {
        background: #fcfffc;
}

.NegativeHealthIndicator {
        background: #fff9f9;
}
