html * {
	font-family: Arial;
}

.HealthAnalysisReport {
	background: #f2f7ff;
	padding: 1em;
}

.Dead {
	background: #f2f2f2;
}

.HealthIndicatorList {
	padding: 1em;
}

.PositiveHealthIndicator {
	background: #fcfffc;
}

.NegativeHealthIndicator {
	background: #fff9f9;
}
